# Bank Accounts

<div class='alert alert-info'>
    
   <h3> Overview </h3>
   <ul>
    <li><a href='#packages'>Packages</a></li>
    <li><a href='#part1'>Part 1</a></li>
    <li><a href='#part2'>Part 2</a></li>
    <li><a href='#part3'>Part 3</a></li>
    <li><a href='#test'>Test</a></li>
    
</div>

---

<a id='packages'></a>

<div class='alert alert-info'>

### Packages

</div>

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

---

<a id='part1'></a>
<div class='alert alert-warning'>

### Part 1

</div>

In [2]:
class BankAccount:
    def __init__(self, balance, interest_rate, monthly_fee):
        '''BankAccount constructor - takes in the following arguments "balance", "interest_rate", and "fee". Also initiates "interest" to 0.
        * balance: float/int
        * interest_rate: float/int > percentile
        * fee: float/int
        
        Contains the following methods:
        * finish_month
        * deposit
        * withdraw'''
        
        self.balance = balance
        self.interest_rate = interest_rate
        self.interest = 0
        self.monthly_fee = monthly_fee
        
    def finish_month(self):
        '''Calculate the new balance at the end of the month by adding the interest which is calculated using the balance
        and the interest rate. By adding the interest amount and subtracting the monthly fee, new balance is calculated and
        returns the new balance:
        * interest = balance * interest rate / 12
        * new balance = current balance + interest - monthly fee'''
        
        self.interest = self.balance * (self.interest_rate / 100) / 12
        self.balance += self.interest - self.monthly_fee
        return self.balance
        
    def deposit(self, amount):
        '''Method contains only one argument "amount", the current balance is increased by the amount and the new balance is returned.
        * amount: float/int
        * new balance = current balance + amount'''
        
        self.balance += amount
        return self.balance
        
    def withdraw(self, amount):
        '''Method contains only one argument "amount", the current balance is decreased by the amount and the new balance is returned.
        Only if the current balance is more than the amount being withdrawn, otherwise an error will be raised.
        * amount: float/int
        * new balance = current balance - amount'''
        
        if amount > self.balance:
            raise Exception('Amount EXCEEDS available balance - DECLINE!!')
        else:
            self.balance -= amount
            return self.balance

---

<a id='part2'></a>
<div class='alert alert-warning'>

### Part 2

</div>

In [3]:
bank_df = pd.DataFrame({'account_number':['1234567890','2345678901','3456789012'],
        'balance':[1000,2000,4000], 'interest_rate':[12,10,8], 'fee':[50,60,70]})
bank_df

  account_number  balance  interest_rate  fee
0     1234567890     1000             12   50
1     2345678901     2000             10   60
2     3456789012     4000              8   70

In [4]:
class Bank:
    def __init__(self,accounts):
        '''BankAccount constructor - takes in the following accounts as an argument.
        * accounts: DataFrame
        
        Contains the following methods:
        * withdraw
        * deposit
        * transfer'''
        
        self.accounts = accounts
        customer == Customer()
    
    def withdraw(self,bank_account_number,amount,secret_password):
        '''Method contains three arguments "bank_account_number", "amount", and "secret_password". The bank account is validated
        if it is an existing account (found in DataFrame) and its length equals to ten, plus the secret password should match
        the customer's password, otherwise an error will be raised. Attaining the index of the bank account from the DataFrame
        in order to get the balance, interest rate and monthly fee for the the specified account number. To instantiate the
        BankAccount object and call the withdraw method to process the transaction.
        * bank_account_number: string
        * amount: float/int
        * secret_password: string'''
        
        if bank_account_number in self.accounts['account_number'].to_list() and len(bank_account_number) == 10 and customer.password == secret_password:
            indx = list(self.accounts[self.accounts['account_number'] == bank_account_number].index)[0]
            acc = BankAccount(self.accounts['balance'].iloc[indx], self.accounts['interest_rate'].iloc[indx],
                             self.accounts['fee'].iloc[indx])
            
            self.accounts['balance'].iloc[indx] = acc.withdraw(amount)
        else:
            raise Exception('Invalid account number or does not exist or incorrect password')
        
    def deposit(self,bank_account_number,amount):
        '''Method contains two arguments "bank_account_number" and "amount". The bank account is validated
        if it is an existing account (found in DataFrame) and its length equals to ten; otherwise an error will be raised. 
        Attaining the index of the bank account from the DataFrame in order to get the balance, interest rate and monthly 
        fee for the the specified account number. To instantiate the BankAccount object and call the deposit method to process 
        the transaction.
        * bank_account_number: string
        * amount: float/int'''
        
        if bank_account_number in self.accounts['account_number'].to_list() and len(bank_account_number) == 10:
            indx = list(self.accounts[self.accounts['account_number'] == bank_account_number].index)[0]
            acc = BankAccount(self.accounts['balance'].iloc[indx], self.accounts['interest_rate'].iloc[indx],
                             self.accounts['fee'].iloc[indx])
            
            self.accounts['balance'].iloc[indx] = acc.deposit(amount)
        else:
            raise Exception('Invalid account number or does not exist')
        
    def transfer(self,from_bank_account_number,to_bank_account_number,amount,secret_password):
        '''Method contains four arguments "from_bank_account_number", "to_bank_account_number", "amount", and "secret_password".
        Both bank accounts are validated if it is an existing account (found in DataFrame) and its length equals to ten, plus 
        the secret password should match the customer's password, otherwise an error will be raised. Attaining the index of the 
        bank accounts from the DataFrame in order to get the balance, interest rate and monthly fee for the the specified 
        account numbers. To instantiate the BankAccount object and call the ransfer method to process the transaction.
        * from_bank_account_number: string
        * to_bank_account_number: string
        * amount: float/int
        * secret_password: string'''
        
        if (from_bank_account_number in self.accounts['account_number'].to_list()) and (to_bank_account_number in self.accounts['account_number'].to_list()) and (len(from_bank_account_number) == 10) and (len(to_bank_account_number) == 10)  and (customer.password== secret_password):
            indxFrom = list(self.accounts[self.accounts['account_number'] == from_bank_account_number].index)[0]
            indxTo = list(self.accounts[self.accounts['account_number'] == to_bank_account_number].index)[0]
            accFrom = BankAccount(self.accounts['balance'].iloc[indxFrom], self.accounts['interest_rate'].iloc[indxFrom],
                             self.accounts['fee'].iloc[indxFrom])
            accTo = BankAccount(self.accounts['balance'].iloc[indxTo], self.accounts['interest_rate'].iloc[indxTo],
                             self.accounts['fee'].iloc[indxTo])
            
            self.accounts['balance'].iloc[indxFrom] = accFrom.withdraw(amount)
            self.accounts['balance'].iloc[indxTo] = accTo.deposit(amount)
        else:
            raise Exception('Invalid account number or does not exist or incorrect password')

---

<a id='part3'></a>
<div class='alert alert-warning'>

### Part 3

</div>

In [5]:
class Customer:
    def __init__(self):
        '''BankAccount constructor - takes in no arguments. Contains only one method "set_password".'''
        
        pass
        
    def set_password(self,password):
        '''Changing the set password into the new specified password.
        * password: string'''
        
        self.password = password

---

<a id='test'></a>
<div class='alert alert-info'>

### Test

</div>

In [6]:
customer = Customer()
customer.set_password('asdcxz')
customer.password

'asdcxz'

In [7]:
bank_df

  account_number  balance  interest_rate  fee
0     1234567890     1000             12   50
1     2345678901     2000             10   60
2     3456789012     4000              8   70

In [8]:
bank = Bank(bank_df)

In [9]:
bank.deposit('1234567890',3500)
bank.accounts

  account_number  balance  interest_rate  fee
0     1234567890     4500             12   50
1     2345678901     2000             10   60
2     3456789012     4000              8   70

In [10]:
bank.withdraw('1234567890',3500,'asdcxz')
bank.accounts

  account_number  balance  interest_rate  fee
0     1234567890     1000             12   50
1     2345678901     2000             10   60
2     3456789012     4000              8   70

In [11]:
bank.transfer('3456789012','1234567890',500,'asdcxz')
bank.accounts

  account_number  balance  interest_rate  fee
0     1234567890     1500             12   50
1     2345678901     2000             10   60
2     3456789012     3500              8   70